
<div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3 col-xs-12 gallery">
        <div class="thumbnail">
          <%= link_to listing do %>
            <%= image_tag listing.image.url(:main)%>
            <div class="caption">
              <p class="product-name text-center text-uppercase"><%= listing.name %></p>
              <p class="product-price text-center"><%= number_to_currency(listing.price) %></p>
            </div>
          <% end %>
        </div>
        
        
      </div>
    <% end %>
</div>
<% if user_signed_in? %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>
