<div class="row">
<div class="col-md-1 hidden-xs">
		<%= link_to '', :back, class: "fa fa-chevron-left" %>
	</div>
	<div class="col-md-6 col-xs-12 animated fadeInLeft" id="main-product">
		<div class="img-responsive text-center">
			<%= image_tag @listing.image.url(:large)%>
		</div>
	</div>
	<div class="col-md-4 col-xs-12 animated fadeInRight" id="main-description">
		<h2 class="listing-name">
			<%= @listing.name %>
		</h2>
		<div class="tx-div"></div>
		<span class="listing-price">
			<%= number_to_currency(@listing.price) %>
		</span>
		<%= button_to 'Add to cart', shopping_cart_path(:listing_id => @listing), :method => 'POST', class: "btn-lg btn btn-primary text-uppercase" %>
		<hr>
		<p class="listing-vendor"><span>Sold By: </span>
		<%= link_to "#{@listing.user.name}", shop_path %> 
		<p class="listing-description"><%= @listing.description %></p>
		<p><%= social_share_button_tag(@listing.name, :popup => "true") %></p>
	</div>
	<div class="col-md-1 hidden-xs">
		<%= link_to '', listings_path, class: "fa fa-chevron-right" %>
	</div>
</div>

<div class="row">
	<div class="col-md-8 text-center hidden-xs">
		<% if @seller  %>
		  <%= link_to 'Delete Product', @listing, method: :delete, data: { confirm: 'Are you sure you want to delete this product?'}, class: "btn btn-danger" %>
			<%= link_to 'Edit Product', edit_listing_path(@listing), class: "btn btn-default" %> 
			<%= link_to 'Back To Your Products', vendor_path, class: "btn btn-link" %>
		<% end %>
	</div>
</div>

