<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="img-responsive pull-right">
			<%= image_tag @listing.image.url(:large)%>
		</div>
	</div>
	<div class="col-md-5 col-xs-12">
		<h2 class="listing-name">
			<%= @listing.name %>
		</h2>
		<h3 class="listing-price">
			<%= number_to_currency(@listing.price) %>
		</h3>
		<p class="listing-description"><%= @listing.description %></p>

	</div>
	<div class="col-md-1 hidden-xs">
		Next Item
	</div>
</div>




<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
