<div class="row text-uppercase">
<h1 class="text-center text-uppercase">Your Cart</h1>
	<div class="col-md-8">
		<div id="full-cart">
			<table class="table">
				<tr>
					<th>Item</th>
					<th></th>
					<th class="text-center">Quantity</th>
					<th>Price</th>
					<th class="text-center">Action</th>
				</tr>
				<% @shopping_cart.shopping_cart_items.each do |checkout| %>
				<tr>
						<td><%= image_tag checkout.item.image.url(:micro) %></td>
						<td><%= checkout.item.name %></td>
						<td class="text-center"><%= checkout.quantity %></td>						
						<td><%= number_to_currency(checkout.price) %></td>
						<td class="text-center">
							<div data-toggle="tooltip" title="Remove" data-placement="top"><%= link_to '', @shopping_cart.remove(@listing, 1), method: :destroy, class: "fa fa-minus-square" %>
							</div>
						</td>
				</tr>
				<% end %>
			</table>
		</div>
		<h3 class="text-center">Refund Policy</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo nam voluptatibus amet, voluptatem magni, illum impedit molestiae ex, incidunt facere nihil suscipit! Possimus quaerat quibusdam facilis ducimus. Esse, atque, numquam!</p>
		<h3 class="text-center">Concerns/Questions</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos at illo illum recusandae, inventore voluptatem tempora ea, iusto optio accusamus nihil corporis aliquid, est officia eveniet doloribus? Odio suscipit, dicta.</p>
	</div>
	<div class="col-md-4" id="total-table">
	<table class="table" id="totals">
		<tr>
			<td class="gemma-copy p15">Subtotal: </td>
			<td><%= number_to_currency(@shopping_cart.subtotal) %></td>
		</tr>
		<tr>
			<td class="gemma-copy p15">Shipping: </td>
			<td><%= number_to_currency(@shopping_cart.total) %></td>
		</tr>
		<tr>
			<td class="gemma-copy p15">Taxes: </td>
			<td><%= number_to_currency(@shopping_cart.taxes) %></td>
		</tr>
		<tr>
			<td class="gemma-copy p15">Total: </td>
			<td><%= number_to_currency(@shopping_cart.total) %></td>
		</tr>
	</table>

		<div class="text-center">
		<%= link_to "Proceed to checkout", checkout_path, class: 'btn btn-lg text-center btn-primary btn-block' %>
		<%= link_to "Back to Shopping", listings_path, class: 'btn btn-lg text-center btn-primary btn-block' %>

		</div>
	</div>
</div> 