<!DOCTYPE html>
<html>
<head>
  <title>Gemma & Jet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,300|Raleway:400,300|Abril+Fatface' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render 'layouts/nav' %>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
